REQ-ID: MP1
Description: The product shall ask for contact details.
Type: Functional Requirement
Rationale: To get holiday-maker details for saving them.
Originator: Mayuresh Pukale

REQ-ID: SE1
Description: The product shall allows storage of holidaymaker contact details
Type: Functional Requirement
Rationale: Client details enable future identification and contact
Originator: Steven Elkins – Software developer 

REQ-ID: SR1
Description: The product shall allow users to access properties lists. 
Type: Functional Requirement
Rationale: the property lists should have access control that can provide access to users.
Originator: Simcha Riseman 

REQ-ID: DG2
Description: The product shall be able to display up-to-date property availability
Type: Functional Requirement
Rationale: To enable correct searching of property availability and thus correct inclusion of properties in the customers filtered shortlist and avoid double-booking.
Originator: Deirdre Gilna

REQ-ID: DG1 
Description: The product shall include filtering of the property list.
Type: Functional Requirement
Rationale: To enable customers to quickly view properties which match their requirements.
Originator: Deirdre Gilna

REQ-ID: BM1
Description: The product shall allow the list of filtered properties to be saved.
Type: Functional Requirement
Rationale: To allow users to save a list of filtered properties for future use, so they do not have to repeat the search process again.
Originator: Becky Morfitt

